<div class="jumbotron">
      <div class="container">
        <h1>Edit Website</h1>
        <p>Edit information below.</p>
       
      </div>
    </div>
<h1>Editing Website</h1>

<%= render 'form' %>

<%= link_to 'Show', @website %> |
<%= link_to 'Back', websites_path %>
