<link href="websites.css" tpye="text/css">

<div class="jumbotron">
  
      <div class="container">
        <h1>Website h2 Parser</h1>
        
        <p>This form is used to enter websites into the database. The app will return the "h2" heading.</p>
       
      </div>
    </div>

<h1>New Website</h1>


<ul>
<%= render 'form' %>

<%= link_to 'Back', :websites %>
</ul>


