<p>Good Reads & Tutorials</p>

<hr>

100 Things Every Designer Needs to Know About People<br>
100 More Things Every Designer Needs to Know About People<br>
About Face: The Essentials of Interaction Design<br>
Don't Make Me Think, Revisited: A Common Sense Approach to Web Usability (3rd Edition)<br>

Start Up<br>
Start up Communities<br>
The Lean Startup: How Today's Entrepreneurs Use Continuous Innovation to Create Radically Successful Businesses<br>


Film & Cinema<br>
Screenplay: The Foundations of Screenwriting by Syd Field

Other<br>

 <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
 </div>
