<p>Good Reads & Tutorials</p>

<hr>

<strong>100 Things Every Designer Needs to Know About People</strong><br>
I like how this book delivers information. It's almost like a Powerpoint presentation, in that
it does require you to reinterpret a lot of conceptual description. Verbose texts really does
exclude the center point. Brevity focuses the concept on its application.<br><br>

<strong>Don't Make Me Think, Revisited: A Common Sense Approach to Web Usability (3rd Edition)</strong><br>
This book is good for the same reseaon I like "100 Things", however "100 Things" is more so 
focused on developing a dicerning perspective. "Don't Make Me Think" is excersice 
centric. This makes don't make me think more imperical because the proof is in the
ability to replicate the results.<br><br>

<strong>About Face: The Essentials of Interaction Design</strong><br>
About Face is more high-level, and reads like a component-based manifesto. It really works as a handbook. 
With that said a handbook doesn't quite help you unless you consult it. The good thing
is that it is not too dense to consult easily. About face really balances both of the  
style I mentioned for "100 Things" and "Don't Make Me Think." <br><br>

<strong><h3>Start Up</h3></strong>
<p>Good Reads & Tutorials</p>
<hr>
<strong>Startup Communities: Building an Entrepreneurial Ecosystem in Your City</strong><br>
This is a book to really sit down and read I usually don't like non-fiction that is prosaic
and anecdotal but the organization of thought does most of the heavy lifting here. The first things
you should read is the "How This Book Works" section o page 23. If you do read the book then 
you should also read about Micheal Porter's work on business clusters. Start Here:<br>
<font style="align:left">
<a href="http://clustermapping.us/sites/default/files/files/resource/Clusters_and_the_New_Economics_of_Competition.pdf">Google.Scholar: Clusters and the New Economics of Competition.pdf</a></href></font><br><br>


<strong><h3>Film & Cinema</h3></strong><br>
<p>Good Reads & Tutorials</p>
<hr>
<strong>Screenplay: The Foundations of Screenwriting by Syd Field</strong><br>
This book seems to be intended for writing but its good for overall production, 
in that, it details movie from a cinematic perspective. The cinematic perspective
isn't uncommon. Generally didactic film discussion tends to be abroad. What I like 
about Sid Field is that the book maintains subjectivity by explain exceptions to
formulaic elements.


