 <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Python</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
</div>

<hr>

Here I just have the latest languages that I have been exploring Ruby and Python
I do have a preference toward C. I don't find it a very interesting subject. 


Hack-a-ma-Bob Ruby

Ruby is a good programming language but it isn't quite my cup of tea for web 
apps.I find that too many way to do one thing makes a situation where the things
you most practically need to do are all done in diametrically different ways. 
It may have been at one time but I think it has a lotof "Unessesary useful 
pieces"; in web development.PersonallyI think that Ruby has all the bells and 
whistle that you want if you are not a web developer. The over all movement of 
web development in is very simple; move information. However When you get down 
into the particulars the infracture is fairly complex. The issue I have with 
ruby is not that it is complex that actually make it very conventional and give 
me a lot of confidence in its ability to be operable. What I don't prefer is 
that Ruby does confine one to actionable logic. 

Hack-a-ma-Bob Python

I haven't completely dove into Python yet, but I do like what I see so far. The 
only time that I've used PPython for anything productive it was for an Adrino. 
We'll see. The thing I like most so far in the more straight forward handling of 
the MVC framework. Just wait, as soon as I have thing that I want to do Python 
that I can't do, I'll be back to singing Ruby's praises.  