<h3>Video Tutorials</h3>
<hr style="height:1px;border:none;color:#333;background-color:#333;">
<div class="row">
  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">

<iframe width="150" height="135" src="https://www.youtube.com/embed/exEduZlJS7Q?list=PLDmvslp_VR0xlwr5lAx2PDsZLu7oIOhpX" frameborder="0" allowfullscreen></iframe>

  </div>


  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h4>Logogmachist</h4>
        <p><font alignment=justify face="Time New Roman" size="-1">This is a ruby app that make uses of web scraping. This app uses a criteria based on weight assign by thesaurus.com to order synonyms</p>
              <div class="btn btn-primary"></font>
                <%= link_to '#', :class => "btn" %>
                <%= link_to '#', :class => "btn" %>
              </div>
      </div>
    </div>
  </div>
  
</div>






