<h3>Ruby-on-Rails Projects</h3>
<hr style="height:1px;border:none;color:#333;background-color:#333;">
<div class="row">
  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h4>Web Scrapper</h4>
        <p><font alignment=justify face="Time New Roman" size="-1">This is a simple web scrap ruby app that take a h1,h2,h3 from a web site. It prett lame so I'll replace it with a better ruby app soon.</p>
              <div class="btn btn-primary"></font>
                <%= link_to '##',"https://hackamabob.herokuapp.com/hmbob/display", :class => "btn" %>
                <%= link_to '#', :class => "btn" %>
              </div>
      </div>
    </div>
  </div>


  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h4>Logogmachist</h4>
        <p><font alignment=justify face="Time New Roman" size="-1">This is a ruby app that make uses of web scraping. This app uses a criteria based on weight assign by thesaurus.com to order synonyms</p>
              <div class="btn btn-primary"></font>
                <%= link_to '#', :class => "btn" %>
                <%= link_to '#', :class => "btn" %>
              </div>
      </div>
    </div>
  </div>
  
</div>






