  <div class="row" >
      <div class="col">
        <h1 style="color:#FFC300 !important">Summer 2016 is Over</h1>
        
        
        <h5>
        <p align="justify" style="color:#000000 !important">
        <font face="Times New Roman" size="+1">
          This summer had it's ups and downs but overall it was a lot of fun and very productive. The student
          business incubator "Vehicle" was official established. So I achieved my goal of starting an 
          organization at my school Bethune-Cookman University. We started with 23 application and we are now
          down to 4 member and 1 volunteer; I am very grateful to Adeje Bagumba for coming to help. We will start
          off the semester doing some heavy recruiting. This also mean I can return to the technology
          projects that I started back in January.<br><br>
          
          I also was able to take a very useful course at Cooper U (no relation). Cooper is a management consulting firm
          located off Market Street in San Francisco; which is a really good location for a foodie. The office was really nice
          and I met some very interesting people who worked everywhere from the GSA to Scullcandy and 
          Price-Waterhouse-Cooper (again no relation). The course I took there was "Design Leadership" and I would tell you about it but
          you should take the course if you want to know.  
          </font>
          <br>
          <br>

        </h5>
        <p><a class="btn btn-default" href="http://www.bcuvehicle.com/research" role="button">View details &raquo;</a></p>
        
        
        </div>
      </div>
