  <div class="row" >
      <div class="col">
        <p align="justify" style="color:#000000 !important">
        <font face="Times New Roman" size="+1">
        <strong>December 2015</strong><br>
        BCUVehicle.com | Student businesss incutor at Bethune-Cookman University
        <hr>
        <strong>June 2015 - Aug 2015</strong><br>
        Start-up Summer Colorado<br>
        White-House Presentation | Inventor<br>
        <hr>
        <strong>March 2014 - April 2015</strong><br>
        Humnan-Computer Interaction in Virutal Teams | co-PI
          </font>
        </div>
      </div>
