<div class="row">



<br><strong><font size="5">Community Involvement</font></strong><br>

<p>
<font face="Time New Roman" size="+1" style="line-height:1.1">
 These are just a few community programs that I have been involved in.
 Jut about everyone has a bunch of church, school, or family community
 improvement events that they've participated in, so listing everysingle
 thing isn't pragmatic I can't list everything.
 </font><p>



<br><strong><font size="5">Project Pericles</font></strong><br>

<font face="Time New Roman" size="+1" style="line-height:1.1" align="justify">
 These are just a few community programs that I have been involved in.
 Jut about everyone has a bunch of church, school, or family community
 improvement events that they've participated in, so listing every single
 thing isn't pragmatic I can't list everything.
 </font>
</p>


<br><strong><font size="5">Vehicle & College of Business Summer Camp</font></strong><br>

<p align="justify">
<font face="Time New Roman" size="+1" style="line-height:1.1" align="justify">
 These are just a few community programs that I have been involved in.
 Jut about everyone has a bunch of church, school, or family community 
 improvement events that they've participated in, so listing everysingle
 thing isn't pragmatic I can't list everything.
 </font>
</p>

<br><strong><font size="5">Community Involvement Committee</font></strong><br>

<p align="justify">
<font face="Time New Roman" size="+1">
 These are just a few community programs that I have been involved in.
 Jut about everyone has a bunch of church, school, or family community 
 improvement events that they've participated in, so listing everysingle
 thing isn't pragmatic I can't list everything.
 </font>
</p>

<hr>

100 Things Every Designer Needs to Know About People<br>
100 More Things Every Designer Needs to Know About People<br>
About Face: The Essentials of Interaction Design<br>
Don't Make Me Think, Revisited: A Common Sense Approach to Web Usability (3rd Edition)<br>

Start Up<br>
Start up Communities<br>
The Lean Startup: How Today's Entrepreneurs Use Continuous Innovation to Create Radically Successful Businesses<br>


Film & Cinema<br>
Screenplay: The Foundations of Screenwriting by Syd Field

Other<br>

</div>
