<div class="row">
<p>
<font face="Time New Roman" size="+1" style="line-height:1.1">
 These are just a few community programs that I have been involved in.
 Jut about everyone has a bunch of church, school, or family community
 improvement events that they've participated in, so listing everysingle
 thing isn't pragmatic I can't list everything.
 </font><p>



<br><font size="5">Project Pericles</font><br>

<font face="Time New Roman" size="+1" style="line-height:1.1" align="justify">
 These are just a few community programs that I have been involved in.
 Jut about everyone has a bunch of church, school, or family community
 improvement events that they've participated in, so listing every single
 thing isn't pragmatic I can't list everything.
 </font>
</p>


<br><font size="5">Vehicle & College of Business Summer Camp</font><br>

<p align="justify">
<font face="Time New Roman" size="+1" style="line-height:1.1" align="justify">
 These are just a few community programs that I have been involved in.
 Jut about everyone has a bunch of church, school, or family community 
 improvement events that they've participated in, so listing everysingle
 thing isn't pragmatic I can't list everything.
 </font>
</p>

<br><font size="5">Community Involvement Committee</font><br>

<p align="justify">
<font face="Time New Roman" size="+1">
 These are just a few community programs that I have been involved in.
 Jut about everyone has a bunch of church, school, or family community 
 improvement events that they've participated in, so listing everysingle
 thing isn't pragmatic I can't list everything.
 </font>
</p>



</div>
