<!DOCTYPE html>
<html>
<body style="background-color:#95A5A6;">
    <br>
 <!-- Main jumbotron for a primary marketing message or call to action -->
 <!--  <div class="jumbotron" style="background:#000000; justify=left; height: 375px; background-image:url('assets/atgoogle.jpg');  background-position:center; background-size: 750px 375px;
 background-repeat:no-repeat; margin:0px;"> </div>
 -->

    
<div class="row">
  <div class="col-xs-6 col-sm-4">
  <img src="assets/atgoogle.jpg" alt="Mountain View" style="width:750;height:375px;">
  

  </div>
  <div class="col-xs-6 col-sm-4">
  
    <h3>Bear with me I just got a little extra time to work on this site</h3>
  </div>
  <div class="col-xs-6 col-sm-4">
  

  
  </div>
</div>
    
    
    

           
<!----------------------------------------------------------------------------------------------------------------->           
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'London')">News</button>
  <button class="tablinks" onclick="openCity(event, 'Paris')">Project</button>
  <button class="tablinks" onclick="openCity(event, 'Tokyo')">Videos</button>
  <button class="tablinks" onclick="openCity(event, 'Tokyo')">Design Th./Proj. Man.</button>
  <button class="tablinks" onclick="openCity(event, 'Tokyo')">Ruby</button>
  <button class="tablinks" onclick="openCity(event, 'Tokyo')">Python</button>
</div>

<div id="London" class="tabcontent">
  <h3>News</h3>
  <p>London is the capital city of England.</p>









<div class="container">
    <div class="row">
		<div class="col-md-12">
                <div id="Carousel" class="carousel slide">
                 
                <ol class="carousel-indicators">
                    <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#Carousel" data-slide-to="1"></li>
                    <li data-target="#Carousel" data-slide-to="2"></li>
                </ol>
                 
                <!-- Carousel items -->
                <div class="carousel-inner">
                    
                <div class="item active">
                	<div class="row">
                	  <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                	                     
               	  <div class="col-md-3"><a href="#" class="thumbnail"><img src="assets/atgoogle.jpg" alt="Image" style="max-width:100%;"><div align="justify" class="caption"><%= rssFeed.entries.last.summary[0,128] %></div></a></div>
                	  <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                	  <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                	</div><!--.row-->
                </div><!--.item-->
                 
                <div class="item">
                	<div class="row">
                		<div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                		<div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                		<div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                		<div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                	</div><!--.row-->
                </div><!--.item-->
                 
                <div class="item">
                	<div class="row">
                		<div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                		<div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                		<div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                		<div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                	</div><!--.row-->
                </div><!--.item-->
                 
                </div><!--.carousel-inner-->
                  <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
                  <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
                </div><!--.Carousel-->
                 
		</div>
	</div>
</div><!--.container-->













</div>

<div id="Paris" class="tabcontent">
  <h3>Projects</h3>
  <p>Paris is the capital of France.</p> 
</div>

<div id="Tokyo" class="tabcontent">
  <h3>Videos</h3>
  <p>Tokyo is the capital of Japan.</p>
</div>

<div id="Tokyo" class="tabcontent">
  <h3>Design/Project</h3>
  <p>Design Thinking & Project Management.</p>
</div>

<div id="Tokyo" class="tabcontent">
  <h3>Ruby</h3>
  <p>Tokyo is the capital of Japan.</p>
</div>

<div id="Tokyo" class="tabcontent">
  <h3>Java</h3>
  <p>Tokyo is the capital of Japan.</p>
</div>

</html>     
    
<style>
body {font-family: "Lato", sans-serif;}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.col-sm-4,.col-md-2 {
background-color: #e3e3e3;
}

.col-xs-6 {
background-color: #f5f3f3;
}

body{padding-top:20px;}
.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
body{padding-top:20px;}
.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
/* The controlsy */
/* CSS From Stack Overflow */
.carousel-control {
	left: -12px;
    height: 40px;
	width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
}
.carousel-control.right {
	right: -12px;
}
/* The indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
	background: #cecece;
}
.carousel-indicators .active {
background: #428bca;
}


</style>
</head>
<body>
<br><br>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>
     <!-- Calling jquery first -->
<script language="JavaScript" type="text/javascript" src="scripts/jquery.js"></script>
<script language="JavaScript" type="text/javascript" src="scripts/bootstrap.min.js"></script>
<!-- Carousel -->
<script language="JavaScript" type="text/javascript">
  $(document).ready(function(){
    $('.carousel').carousel({
      interval: 3000
    })
  });    
</script>  

<p>
<h5>Hack-a-ma-Bob</h5>
<h5>Fatin Cooper</h5>
<h5>fatin.d.cooper@students.cookman.edu</h5>
<h5>Bay Area: Oakland-San Francisco-Palo Alto</h5>
</p>



<!----------------------------------------------------------------------------------------------------------------->
  <div style="background:#FFFFFF !important " class="jumbotron" >
      <div class="container">
        <h1 style="color:#FFC300  !important">Summer 2016 is Over</h1>
        
        <h1 >
        <p align="justify" style="color:#000000 !important">
          
          This summer had it's ups and downs but overall it was a lot of fun and very productive. The student
          business incubator "Vehicle" was official established. So I achieved my goal of starting an 
          organization at my school Bethune-Cookman University. We started with 23 application and we are now
          down to 4 member and 1 volunteer; I am very grateful to Adeje Bagumba for coming to help. We will start
          off the semester doing some heavy recruiting. This also mean I can return to the technology
          projects that I started back in January.<br><br>
          
          I also was able to take a very useful course at Cooper U (no relation). Cooper is a management consulting firm
          located off Market Street in San Francisco; which is a really good location for a foodie. The office was really nice
          and I met some very interesting people who worked everywhere from the GSA to Scullcandy and 
          Price-Waterhouse-Cooper (again no relation). The course I took there was "Design Leadership" and I would tell you about it but
          you should take the course if you want to know.  
          <br>
          <br>
          To see more about the Vehicle Summer Training Camp follow this link to the BCUVehicle.com</p>
 
        </h1>
        <p><a class="btn btn-default" href="http://www.bcuvehicle.com/research" role="button">View details &raquo;</a></p>
        
        
        </div>
      </div>
    </div>
</div>


<!----------------------------------------------------------------------------------------------------------------->
  <div style="background:#FFFFFF !important" class="jumbotron">
      <div class="container">
        <h1 style="color:#000000  !important">My first Ruby-On-Rails Project</h1>
        
        <h1 >
        <p style="color:#000000  !important">
          
          The summer started and I had to put these project on hold. This summer I am running a training/orientation
          camp for "Vehicle"; a student business incubator I am founding. I have come to a good stopping point. 
          The basic idea is to have an app for cognitive science majors to Design a search engine/web scrappers that 
          could analyze web page content by subject matter.</p>
        
        </h1>
          
        
          
          
        </p>
      </div>
      
      
     <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2 style="color:#701112  !important" >Site Parser</h2>
          <br>
          <p><a class="btn btn-default" href="/hmbob/display#" role="button">Parser &raquo;</a></p>
          <h4>
          <p>I found this parser program in a Ruby-On-Rails tutorial on YouTube. I'm going to tweak it a little bit. I don't really want to make the app that the guy in the tutorial did because I didn't find it that interesting. When I'm finished putting together the basic version of the other apps, I'll come back and redesign this and get it to do more stuff.  </p>
          </h4>
        </div>
        <div class="col-md-4">
          <h2 style="color:#701112  !important" >Logomachist</h2>
          <br>
          <p><a class="btn btn-default" href="/logomachist" role="button">Logomachist &raquo;</a></p>
          <h4>
          <p>I have just about finished the basic function of this app. It is going to be a sort of crawler/bot that uses word association to determine which synonyms are closest to a searched word. This app is very important to making the next app. Which will be a search engine that returns pages based on the analysis of the language in pages. </p>
          </h4>
       </div>
        <div class="col-md-4">
          <h2 style="color:#701112  !important" >BotSearch</h2>
          <br>
          <p><a class="btn btn-default" href="" role="button">View details &raquo;</a></p>
          <h4>
          <p>Tt looks like I ran out of time before I got too much work to finish this. From March to June I'll be busy establishing a business incubator at my school. But, hopefully I can return to this project. It's supposed to be a crawler that analyzes website content to identify subject matter. I was hoping that cognitive sciences students could use it.</p>
          </h4>
          <p>&nbsp;</p>
     
       
        </div>
      </div>
    </div>
</div>
<!----------------------------------------------------------------------------------------------------------------->
<div class="jumbotron" style="background: #FFFFFF">
  
  
  
    <div class="container" >
      <!-- Example row of columns -->
                  <h2 style="color:#701112  !important" >Portable Dev Lab</h2>
                  <div class="panel"  style="background: #FFFFFF">
                  <%= image_tag  'rasp1.jpg', width: '275', height: '250'%>
                  <%= image_tag  'rasp2.jpg', width: '300', height: '250'%>
                  </div>
                  
                  <p>This IOT project isn't just for fun and experimentation. The Comp Sci students and I are hoping that every Computer Engineering and Information Systems student will build their
                  SWCC ("sw-uck") and setup there own WUCKIE ("wookie"). The SWCC is like a Cloud 9 and Github contained in a Raspberry Pi 3. Building a SWCC consists of install an Apache Webserver
                  on to a Raspberry Pi 3. Then we configure the localhost & Linux server for guest to log in and use the app or site  being developed. The underlying magic is that its a system where
                  that allows logged in users to push and pull from each other systems through a Wifi connection. There are different permissions set to where only Admins will be able to push to
                  the localhost. Raspberry already comes with Python but we are also going to outfit it with ruby. The WUCKIE is a virtual machine that is a lot like the Dynos on Heroku. We are setting 
                  this up conventionally at first, but next we want to tailor this within the Linux Kernel so that we can integrate  a Heroku API so that we can push directly from he SWCC to Heroku</p>
                  <p>&nbsp;</p>
       <!-- Example row of columns -->
        
    
    </div>
</div>

<div class="jumbotron" style="background: #FFFFFF">
  
 
                 
      <div class="container"> 
      <h2 style="color:#000000  !important" >Here are some links to other projects I've been involved in.</h2>
      
                    <br><br>
                    <div class="row">
                    <div class="col-sm-9">
                      
                      <div class="row">
                        <div class="col-xs-8 col-sm-6">
                         
                              <div class="list-group">
                              <a href="https://www.youtube.com/watch?time_continue=9&v=9z9AwgWa54c"  class="list-group-item list-group-item-success">Honda All-Star Challenge</a>
                              <a href="http://www.projectpericles.org/projectpericles/programs/section/debating_for_democracy_d4d_/"  class="list-group-item list-group-item-info">Project Pericles Debating for Democracy</a>
                              <a href="http://universityinnovationfellows.org/"  class="list-group-item list-group-item-warning">University Innovation Fellows</a>
                              <a href="http://www.cookman.edu/newsinfo/newsroom/newsreleases/2014/b-cu-at-national-week-of-making.html"  class="list-group-item list-group-item-danger">Makers For Change</a>
                              </div>
                        </div>
                        <div class="col-xs-4 col-sm-6">
                          
                          <div class="list-group">
                          <a href="http://www.startupcolorado.com/startup-summer" class="list-group-item list-group-item-success">Startup Summer Colorado</a>
                          <a href="https://drive.google.com/file/d/0B8ildkSt6hISdmdlUEg5cUpYdzA/view" class="list-group-item list-group-item-info"> Human Computer Interaction Research</a>
                          <a href="https://drive.google.com/file/d/0B2g_KdBUE3-OZXlaei1mNHBvM3JqNGRfTEVoR3lBUW1hbUdF/view" class="list-group-item list-group-item-warning">Sample of Writing Project Pericles</a>
                          <a href="https://drive.google.com/a/students.cookman.edu/file/d/0B2g_KdBUE3-OZVR1RGtCSVZpS1k/view" class="list-group-item list-group-item-danger">Semi-finals Project Pericles</a>
                          </div>
                        </div>
                      </div>
                    </div>
        </div>
</div>
  
    <div class="container" >
      <!-- Example row of columns -->
                  
                  
             

       <!-- Example row of columns -->
        
    
    </div>
</div>
      <hr>
      
      
      
<!-- Footer -->
      <footer>
        <p>&copy; 2016 Hackamabob, Inc.</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script type="text/javascript" src="assets/twitterbootstrap/js/bootstrap-tab.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
