<div class="jumbotron">
      <div class="container">
        <h1>WGlossary Mode</h1>
        <p>This form is used to enter websites into the database. Please be sure that the sites you enter have the html tag used for your parser.</p>
       
      </div>
    </div>
<h1>Editing Glossary</h1>

<%= render 'form' %>

<%= link_to 'Show', @glossary %> |
<%= link_to 'Back', glossaries_path %>
