<div class="jumbotron">
      <div class="container">
        <h1>Web Parser</h1>
        <p>This form is used to enter websites into the database. Please be sure that the sites you enter have the html tag used for your parser.</p>
       
      </div>
    </div>
<h1>OpenBoot#About</h1>
<p>Find me in app/views/open_boot/index.html.erb</p>
