<!DOCTYPE html>
<html>
<body style="background-color:powderblue;">
      <div class="container">
        <br><br><br><br><br><br><br><br>
        <h1>Contacts</h1>
        <%= image_tag  'yearbook.jpg', width: '200', height: '250' %>
        <h3>
        <p>Nothing too Complication. Just leave me a clear and detailed message or email.</p>
        </h3>
        <h4>
        <p>Email: jobsearchcooper@gmail.com</p>
        <p>Cell : 386.631.3113</p>
        <p>Twitter: @NoImGoodBro
        </h4>
      </div>
    </div>
</body>
</html>
