 <!-- Main jumbotron for a primary marketing message or call to action -->
    <div style="background:#701112 !important" class="jumbotron">
      <div class="container">
        <h1 style="color:#000000  !important">Hack-a-ma-Bob</h1>
        
        <h1 >
        <p style="color:#fff  !important">Welcome to Hack-a-ma-Bob. This is my first ruby app, started on 2/18/2016.<br> I am writing this app as I am
            learning to code in Ruby and Ruby-On-Rails. <br> Over the next few weeks I will be building on to this app, 
            but for right now <br> I am working on the first part which is the website parser</p>
        
        </h1>
          
        
          <a class="btn btn-default" href="https://www.linkedin.com/in/fatin-cooper-40a43996" role="button">About Me &raquo;</a>
          
        </p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2 style="color:#701112  !important" >Site Parser</h2>
          <p>I found this parser program in a Youtube Ruby Tutorial I going to tweek it a little bit. I don't really want to make the app that the guy in the tutorial did because I didn't find it that interesting. When I'm finnished putting together the basic version of the other apps, i'll come back and redesign this and get it to do more stuff.  </p>
          <p><a class="btn btn-default" href="https://open-boot-pachanga.c9users.io/hmbob/display#" role="button">Parser &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2 style="color:#701112  !important" >Logomachist</h2>
          <p>I have just about finnished the basic function of this app. It is going to be a sort of crawler/bot that uses word association to determine which synonyms are closest to a searched word. This app is very important to making the next app. Which will be a search engine that returns pages based on the analysis of the language in pages. </p>
          <p><a class="btn btn-default" href="https://open-boot-pachanga.c9users.io/logomachist" role="button">Logomachist &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2 style="color:#701112  !important" >(E)nchant</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.                  </p>
          <p>&nbsp;</p>
     
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; 2016 Hackamabob, Inc.</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
