// Place all the styles related to the open_boot controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";



.jumbotron {
    background: image-url('../AtGoogle.jpg');
    position: relative;
    padding:0 !important;
    margin-top:70px !important;
    margin-top: 23px;
    text-align:center;
    margin-bottom: 0 !important;
}
    
}